@page
@model Blossom_RazorWeb.Pages.Admin.IndexModel
@{
}

@{
    Layout = "_LayoutAdmin";
    string role = HttpContext.Session.GetString("Role");

    if (role == null)
    {
        Response.Redirect("/auth/login");
        TempData["NotPermissionMessage"] = "Vui lòng đăng nhập";
    }

    if (role != "ADMIN")
    {
        Response.Redirect("/auth/login");
        TempData["NotPermissionMessage"] = "Vui lòng truy cập bằng tài khoản Admin";
    }
}

<h1>Admin page</h1>