@page
@model Blossom_RazorWeb.Pages.Wallet.AddBalanceModel
@{
    ViewData["Title"] = "Nạp tiền vào ví";
}
<script type="text/javascript">
    $(document).ready(function () {
        var errorMessage = '@Model.ErrorMessage';

        if (errorMessage) {
            toastr.error(errorMessage);
        }
    });
</script>

<section class="bread-crumb" style="background-image: url('/assets/images/banner_home.jpg')">
    <div class="container">
        <div class="title-breadcrumb">Nạp tiền vào ví</div>
        <ul class="breadcrumb">
            <li class="home">
                <a class="home-link" asp-page="/Index"><span>Trang chủ</span></a>
                <span class="mr_lr">
                    &nbsp;
                    <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="svg-inline--fa fa-chevron-right fa-w-10">
                        <path fill="currentColor" d="M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z" class=""></path>
                    </svg>&nbsp;
                </span>
            </li>
            <li>
                <strong><span>Nạp tiền</span></strong>
            </li>
        </ul>
    </div>
</section>

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header text-center bg-primary text-white">
                    <h4>Nạp tiền vào ví</h4>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="input-group mb-3">
                            <span class="input-group-text">
                                VNĐ
                            </span>
                            <input type="number" min="0" class="form-control" id="amount" asp-for="Amount" placeholder="Nhập số tiền (VNĐ)" required>
                        </div>
                        <span asp-validation-for="Amount" class="text-danger"></span>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg">Thanh toán</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
